# Cache directories
.cache/

# Build directories
build/
cmake-build-*/
_deps/
Testing/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt
!cmake/*.cmake.in
!examples/stm32H533RET/cmake/*.cmake

# Compiled binaries
*.exe
*.out
*.app
*.o
*.a
*.so
*.dylib

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
